/* MAP */
.section-title-map {
    padding-top: 1rem !important;
}

.section-wrapper-map {
    margin-top: 1rem !important;
}

.map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
    /* cursor: pointer; */
}

.ol-viewport {
    box-shadow: 3px 3px 10px #999;
}

/* zoom button */
.ol-control {
    width: 28px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 4px;
    padding: 3px;
    margin: 10px;
}

.ol-zoom {
    width: 32px;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
    border-radius: 50%;
    border-width: 0;
    background-color: rgba(0, 60, 136, .5);
    color: #FFF;
    width: 22px;
    height: 22px;
    /* box-shadow: 1px 1px 5px #999; */
}

.ol-zoom-out {
    margin-top: 2px;
}

/* hide some button */
.ol-attribution,
.ol-rotate {
    display: none;
}

/* popup */
.ol-popup {
    position: absolute;
    background: hsla(0, 0%, 100%, .86);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    /* border: 1px solid #cccccc; */
    bottom: 12px;
    left: -50px;
    width: auto;
    max-width: 500px;
    min-width: 380px;
    min-height: 150px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial !important;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: #eeeeee;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    color: #8e908c;
}

.ol-popup-closer:after {
    content: "✖";
}

.pophead {
    width: 100%;
    height: 20px;
}

.popup-title {
    font: bold 14px sans-serif;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 8px;
    left: 12px;
    right: 30px;
    color: #000000;
}

.popup-content p {
    max-height: 200px;
    padding: 0 10px;
    margin: 0 0 5px 0;
    font-size: 14px;
    overflow-y: auto;
    /* 解析\n换行 */
    white-space: pre-line;
}

.col-map {
    padding: 0;
}

.feature-container {
    height: 600px;
    border-radius: 5px;
    border-color: #ddd;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #999;
    margin: 0;
    padding: 5px 0 0 0;
}

.tab-item {
    /* margin: 5px 5px 0 5px; */
    padding: 4px 15px !important;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    background-color: #eee;
}

.tab-item:hover {
    color: #337ab7;
}

.nav-tabs {
    border-bottom: 0;
    margin-left: 5px;
}

.nav-tabs>li {
    border-bottom: 0;
    margin-right: 4px;
}

.nav-tabs>li>a {
    border-bottom: 0;
    margin: 0;
}

.nav-tabs>li.active {
    background-color: #fff;
}

.tab-pane-content {
    padding: 5px 0 0 5px;
    border-radius: 5px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    /* box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); */
}

.feature-list {
    width: 100%;
    height: 560px;
    overflow-y: auto;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    cursor: pointer;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.panel-group-head {
    border-bottom: 1px solid #DDD;
}

.panel-group-head+.panel-group-head {
    margin-top: -1px !important;
}

.panel-heading {
    display: flex;
    padding: 0 5px 0 10px;
    line-height: 32px;
    background-color: #FFFFFF !important;
}

.panel-heading>i {
    margin-right: 10px;
}

.panel-heading>span {
    flex: 0 1 auto;
    text-decoration: none;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.panel-heading:hover {
    background-color: rgb(117, 186, 255) !important;
    cursor: pointer;
}

.feature-panel {
    padding: 0 5px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.tree-node {
    display: flex;
    height: 30px;
    line-height: 30px;
    width: 100%;
    /* margin:2px; */
    border-bottom: 1px solid #DDD;
    margin-left: 5px;
}

.tree-node>i {
    margin: 0 5px;
}

.node-color {
    flex: none;
    width: 7px;
}

.group-title {
    width: 100%;
    text-align: left;
}

.node-title {
    flex: 0 1 auto;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.node-title:hover {
    background-color: rgb(117, 186, 255);
}

.popup-btn {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 7px;
    bottom: 12px;
    font-size: 15px;
}

.bi-cloud-download:hover {
    color: rgb(117, 186, 255);
}